In [1]:
# Add the Pandas dependency.
import pandas as pd

In [2]:
from pyxlsb import open_workbook as open_xlsb

In [3]:
# Files to load
housing_data_to_load = "Resources/housing_dataset.xlsb"

In [4]:
# Read the housing data file and store it in a Pandas DataFrame.
housing_data_df = pd.read_excel(housing_data_to_load)
housing_data_df.head()

,period_begin,period_end,period_duration,region_type,region_type_id,table_id,is_seasonally_adjusted,region,city,state,...,sold_above_list_yoy,price_drops,price_drops_mom,price_drops_yoy,off_market_in_two_weeks,off_market_in_two_weeks_mom,off_market_in_two_weeks_yoy,parent_metro_region,parent_metro_region_metro_code,last_updated
0,42826,42855,30,county,5,170,f,"Morgan County, AL",NaN,Alabama,...,-0.069595,NaN,NaN,NaN,0.020833,0.020833,0.001225,"Decatur, AL",19460.0,44570.60412
1,41974,42004,30,county,5,1457,f,"Hennepin County, MN",NaN,Minnesota,...,-0.098136,0.097744,-0.121909,-0.197220,0.172414,0.034483,-0.033469,"Minneapolis, MN",33460.0,44570.60412
2,43132,43159,30,county,5,2319,f,"Tulsa County, OK",NaN,Oklahoma,...,-0.024840,0.206004,-0.026139,0.009313,0.479924,0.068277,-0.042568,"Tulsa, OK",46140.0,44570.60412
3,42948,42978,30,county,5,1448,f,"Crow Wing County, MN",NaN,Minnesota,...,NaN,0.200000,-0.050000,NaN,NaN,NaN,NaN,"Brainerd, MN",14660.0,44570.60412
4,43586,43616,30,county,5,1586,f,"Tate County, MS",NaN,Mississippi,...,0.107895,NaN,NaN,NaN,0.000000,-0.111111,-0.100000,"Memphis, TN",32820.0,44570.60412

In [5]:
# Determine data types for the housing DataFrame.
housing_data_df.dtypes

period_begin                        int64
period_end                          int64
period_duration                     int64
region_type                        object
region_type_id                      int64
table_id                            int64
is_seasonally_adjusted             object
region                             object
city                              float64
state                              object
state_code                         object
property_type                      object
property_type_id                    int64
median_sale_price                 float64
median_sale_price_mom             float64
median_sale_price_yoy             float64
median_list_price                 float64
median_list_price_mom             float64
median_list_price_yoy             float64
median_ppsf                       float64
median_ppsf_mom                   float64
median_ppsf_yoy                   float64
median_list_ppsf                  float64
median_list_ppsf_mom              float64
median_list_ppsf_yoy              float64
homes_sold                        float64
homes_sold_mom                    float64
homes_sold_yoy                    float64
pending_sales                     float64
pending_sales_mom                 float64
pending_sales_yoy                 float64
new_listings                      float64
new_listings_mom                  float64
new_listings_yoy                  float64
inventory                         float64
inventory_mom                     float64
inventory_yoy                     float64
months_of_supply                  float64
months_of_supply_mom              float64
months_of_supply_yoy              float64
median_dom                        float64
median_dom_mom                    float64
median_dom_yoy                    float64
avg_sale_to_list                  float64
avg_sale_to_list_mom              float64
avg_sale_to_list_yoy              float64
sold_above_list                   float64
sold_above_list_mom               float64
sold_above_list_yoy               float64
price_drops                       float64
price_drops_mom                   float64
price_drops_yoy                   float64
off_market_in_two_weeks           float64
off_market_in_two_weeks_mom       float64
off_market_in_two_weeks_yoy       float64
parent_metro_region                object
parent_metro_region_metro_code    float64
last_updated                      float64
dtype: object

In [6]:
import datetime

timestamp = datetime.datetime.fromtimestamp(1500000000)

print(timestamp.strftime('%Y-%m-%d'))

2017-07-13