In [22]:
import pandas as pd
import matplotlib as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
import keras_tuner as kt

import tensorflow as tf
from sqlalchemy import create_engine


from sklearn.datasets import make_blobs, make_moons, make_circles
%matplotlib inline

In [23]:
from config import db_password, db_name, db_server

In [18]:
db_password

'0926'

In [24]:
db_server

'postgres'

In [21]:
db_name

'postgres'

# Importing COVID Data

In [25]:
from config import db_password, db_name, db_server
db_string = f"postgresql://postgres:{db_password}@{db_server}/{db_name}"
db_string = f"postgresql://postgres:0926@localhost/postgres"
engine = create_engine(db_string)
with engine.connect() as connection:
    covid_df = pd.read_sql("select * from covid_daily_info", db_string)
covid_df.head()

,period_begin_month,period_begin_year,period_begin_month_year,covid_month_year_state,state,cases,deaths
0,1.0,2020.0,1-2020,1-2020CA,CA,0.0,0.0
1,2.0,2020.0,2-2020,2-2020CA,CA,34.0,0.0
2,3.0,2020.0,3-2020,3-2020CA,CA,6898.0,150.0
3,4.0,2020.0,4-2020,4-2020CA,CA,41985.0,1740.0
4,5.0,2020.0,5-2020,5-2020CA,CA,61666.0,2153.0

### Converting month and year to int

In [37]:
covid_df['period_begin_month'] = covid_df['period_begin_month'].astype('int')
covid_df['period_begin_year'] = covid_df['period_begin_year'].astype('int')
#covid_df['cases'] = covid_df['cases'].astype('int')
#covid_df['deaths'] = covid_df['deaths'].astype('int')

In [38]:
covid_df.head()

,period_begin_month,period_begin_year,period_begin_month_year,covid_month_year_state,state,cases,deaths
0,1,2020,1-2020,1-2020CA,CA,0.0,0.0
1,2,2020,2-2020,2-2020CA,CA,34.0,0.0
2,3,2020,3-2020,3-2020CA,CA,6898.0,150.0
3,4,2020,4-2020,4-2020CA,CA,41985.0,1740.0
4,5,2020,5-2020,5-2020CA,CA,61666.0,2153.0

In [44]:
covid_df['deaths'].isnull().count

<bound method Series.count of 0      False
1      False
2      False
3      False
4      False
       ...
115    False
116    False
117    False
118    False
119    False
Name: deaths, Length: 120, dtype: bool>

# Importing Housing Data

In [14]:
from config import db_password, db_name, db_server
db_string = f"postgresql://postgres:0926@localhost/postgres"
engine = create_engine(db_string)
with engine.connect() as connection:
    housing_df = pd.read_sql("select * from housing_data", db_string)
housing_df.head()

,period_begin_month,period_begin_year,period_begin_month_year,state,state_code,housing_month_year_state,homes_sold,pending_sales,new_listings,inventory,months_of_supply,sold_above_list,price_drops
0,1,2020,1-2020,California,CA,1-2020CA,43730,37236,59735,117383,459,39,28
1,1,2020,1-2020,Florida,FL,1-2020FL,50212,45153,93867,249081,1203,20,33
2,1,2020,1-2020,Minnesota,MN,1-2020MN,7912,6372,9263,23367,1034,29,24
3,1,2020,1-2020,Texas,TX,1-2020TX,34846,32732,57370,147998,2213,34,46
4,1,2020,1-2020,Washington,WA,1-2020WA,12810,12124,14723,20983,373,22,14